.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
/* .paxi{
  font-size: 15px;
  text-transform: capitalize;
  text-shadow: -1px -1px 1px #aaa,
               0px 2px 1px rgba(255, 255, 255, 0.788),
               2px 2px 2px rgba(255, 255, 255, 0.7),
               0px 0px 3px rgba(255, 255, 255, 0.767);
  text-align: center;
}

.paxi {
  font-weight: bold;
} */
.paxi {
  font-weight: bold;
  text-shadow: -1px -1px 1px #aaa,
  0px 2px 1px rgba(255, 255, 255, 0.788),
  0px 2px 2px rgba(255, 255, 255, 0.7),
  0px 0px 3px rgba(255, 255, 255, 0.767);


}


.navbar-brand {
  font-weight: 100;
}

.nav-user {
  margin: 10px;
}

.navLink {
font-size: 90%
}
.navLink:active {
  border: 1px rgba(255, 255, 255, 0.466) solid;
  box-shadow:  0px 0px 33px 0px rgb(218, 10, 10);

 }

.reply-btn {
position: absolute;
top: 15px;
right: 5px;
margin: 0
}

h3 {
  position: absolute;
  top: 5px;
  right: 70px;
  margin: 0
}
.msgSize {
font-size: 12px;
}

.pulse {
  position: absolute;
  display: block;
  top:25px;
  right:95px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 70%;
  padding:0 5px 15px;
  cursor: pointer;
  box-shadow: 0 0 0 red;
  animation: pulse .7s infinite;
  z-index: 99;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 red;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 red;
    box-shadow: 0 0 0 0 red;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}